{% extends "base.html" %}

    {% block title %}
    <title>Choose searching filter</title>
    {% endblock %}

    {% block content %}
    <div class="container main-container">
        <h1 class="my-3">Choose filter you want to apply.</h1>
        <form method="POST" action="">
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="searching filter">
                  <option selected>Open this select menu</option>
                  <option value="1">Intolerances</option>
                  <option value="2">Cuisine type</option>
                  <option value="3">Diet type</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}