{% extends "base.html" %}

    {% block title %}
    <title>Dish details</title>
    {% endblock %}

    {% block content %}
    <div class="container main-container py-3 my-3">
        <div class="row">
            <h1 class="col col-10">{{ dish_name }}</h1>
              {% if current_user.is_authenticated %}
                    <!-- Unsave Form -->
                    <form class="col col-2 pt-3 pr-3" action="{{ url_for('main.unsave_recipe', dish_name=dish_name) }}" method="POST">
                        <!-- Include CSRF token manually -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="icon-button saved" title="Unsave Recipe" style="background: rgba(0,0,0,0); border: none;">
                            <i style="color: #dfaee6; font-size: 3.5em; text-align: center;" class="fa-solid fa-heart fa-2xl"></i> <!-- Solid Heart Icon -->
                        </button>
                    </form>
              {% endif %}
        </div>
        <br>
        <div class="row">
            {% if dish_photo: %}
            <img class="col-xs-12 col-lg-6 pb-3" src="{{ dish_photo }}" alt="{{ dish_name }}" width="100%" height="auto">
            {% else: %}
            <img class="col-xs-12 col-lg-6 pb-3" src="{{ url_for('main.static', filename='images/no-image-found.png') }}" alt="{{ dish_name }}" width="100%" height="auto">
            {% endif %}
            <div class="col-xs-12 col-md-6">
                <h2 class="mb-3">Ingredients</h2>
                <ul>
                        {% for ingredient in ingredients: %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <br><br>
        <h2 class="mb-3">Instructions</h2>
        <ol>
            {% for instruction in instructions: %}
            <li><p>{{ instruction['step'] }}</p></li>
            {% endfor %}
        </ol>
    </div>
    {% endblock %}

     {% block scripts %}
    {{ super() }}
        <script src="https://kit.fontawesome.com/26cce81983.js" crossorigin="anonymous"></script>
    {% endblock %}
